body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3f47;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#time {
    font-size: 48px;
    color: #ffffff;
}
